#header{
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
}

.head{
	display:inline;
	color:#777;
}

#logo{
	position:absolute;
	top: 182px;
	left: 361px;
}

#search_bar{
	position:absolute;
	top:320px;
	left: 361px;
}

#buttons{
	position:absolute;
	top:400px;
	left:370px;
}

#footer{
	display:block;
	position:absolute;
	background-color:#e4e4e4;
	bottom:0px;
	left:0px;
	right:0px;
}

#footer_left{
	display:inline-block;
	margin-left: 10px;
}

#footer_right{
	display:inline-block;
	float:right;
	margin-right:10px;
}