#header{
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
	padding-left:30px;
	padding-right:30px;
}

.head{
	display:inline-block;
	vertical-align:middle;
	color:#777;
	font-size:small;
	padding-left:15px;
}

#apps_pic{
	background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-position: -132px -38px;
    opacity: .55;
    border:none;
}

#bell_pic{
	background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-size: 528px 68px;
	border:none;
}

.img-circle{
	border-radius:50%;
	vertical-align:middle;
}

#logo{
	position:relative;
	top: 182px;
	margin-left:auto;
	margin-right:auto;
	width:20em;
}

#search_bar{
	position:relative;
	top:190px;
	margin-left:auto;
	margin-right:auto;
	width:31em;

}

.search_box{
	width:450px;
	height:30px;
}

#buttons{
	position:relative;
	top:210px;
	margin-left:auto;
	margin-right:auto;
	width:20em;
}

.button{
	background-color:#f2f2f2;
	color:#757575;
	border:1px solid #f2f2f2;
	font-size:13px;
	font-weight:bold;
	font-family:arial,sans-serif;
	text-align:center;
	min-width:54px;
	margin:11px 4px;
	height: 36px;
    line-height: 27px;
    padding-right:15px;
    padding-left:15px;
}

#footer{
	position:absolute;
	background-color:#e4e4e4;
	bottom:0px;
	left:0px;
	right:0px;
	height:40px;
}

#footer_left{
	display:inline-block;
	margin-left: 15px;
	vertical-align:middle;
	margin-top:10px;
}

#footer_right{
	display:inline-block;
	float:right;
	margin-right:30px;
	margin-top:10px;
}

a{
	font-family: arial,sans-serif;
	color:#666;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}